@tailwind base;
@tailwind components;
@tailwind utilities;


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.ant-menu-item-selected{
    background-color: #BC8E5B !important;
}

.ant-btn-color-primary{
    background-color: #BC8E5B !important;
}

.ant-spin-dot-holder {
    color: #BC8E5B !important;
}

.ant-input-affix-wrapper, .ant-select-selector, .ant-picker{
    border-color: #BC8E5B !important;
}

.ant-input::placeholder, .ant-select-selection-placeholder, .ant-picker-input > input::placeholder{
    color: #BC8E5B !important; 
}